@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background-color: aqua;
}

div#travel-mode {
    gap: 3rem;
}

div#travel-mode div{
    max-width: 18rem;
    min-width: 18rem;
    height: 16rem;
    border: 0.15rem solid black;
    padding: 2rem;
    border-radius: .6rem;
}

.frame-information img {
    width: 2rem;
    transition: transform .5s ease;
    border-radius: .2rem;
}

.location-icon img {
    width: 2rem;
    transition: transform .5s ease;
    border-radius: .2rem;
}

.location-icon:hover img {
    cursor: pointer;
    transform: translateY(-0.3rem);
}

.frame-information{
    flex-direction: column;
    gap: 1.8rem;                            
}

.frame-information-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    text-align: center;
}   

.localite-information {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
} 
.localite-information img{
    width: 2rem;
} 

.link-map{
    pointer-events: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #000;
}

